name: Release

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Get node-version
        id: vars
        run: echo ::set-output name=tag::$(echo ${GITHUB_REF:10})

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Bumd package version
        run: npm --no-git-tag-version version ${{ steps.vars.outputs.tag }}

      - name: Npm ci
        run: npm ci

      - name: Npm build
        run: npm run build

      - name: Publish package
        run: npm publish